[Desktop Entry]
Name=Loginized
Comment=Loginized Dekstop
GenericName=Loginized GDM Login theme manager
Exec=Loginized
Icon=loginized
Type=Application
StartupNotify=true
Terminal=false
Categories=GNOME;GMD;Settings;
Keywords=GNOME;GDM;Login Theme Manager;
MimeType=x-scheme-handler/loginized;