// Colors
main-color = #3d9e7a
secondary = lighten(main-color, 20%)
tertiary = lighten(main-color, 40%)
cool-white = #fafafa
darker-white = darken(cool-white, 5%)
dark-white = darken(cool-white, 30%)
midnight-black = #0f0f0f
early-black = lighten(midnight-black, 15%)
smoke = darken(cool-white, 40%)
mid-grey = darken(cool-white, 60%)
dark-grey = darken(cool-white, 80%)
warning = #dcd360
error = #cd1212
success = #5cc96a

// Configs
gutter = 1em
nav-margin-top = 4em
default-border-width = 0.08rem
radius-mini = 0.2rem
selection-list-max-height = 20em